TUYA_CLIENT_ID=your_client_id
TUYA_SECRET=your_secret_key
TUYA_BASE_URL=https://openapi-sg.iotbing.com
PORT=3000

# Device IDs
DEVICE_SW1=device_id_for_switch_1
DEVICE_SW2=device_id_for_switch_2
DEVICE_SW3=device_id_for_switch_3
DEVICE_SW4=device_id_for_switch_4
DEVICE_SW5=device_id_for_switch_5
DEVICE_SW6=device_id_for_switch_6
